{{ $page := .root }}
{{ $section := .page }}
<div class = "home-section-bg"> </div>

<div class ="container">
<div class = "row ">
<div class="section-heading col-12 col-lg-4 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
  <h1 class="mb-0">{{$section.Title }}</h1>
</div>

<div class="col-md-12 col-lg-8">
<!-- <a class="twitter-timeline" data-height="500"  href="https://www.linkedin.com/in/dhia-elhaq-rzig/"> Linkedin </a> -->
<!--   <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  -->
<!--   <script type="text/javascript" src="https://www.juicer.io/embed/dhia-elhaq-rzig/embed-code.js?truncate=300&columns=1&data-per=5" async defer></script> -->
  <div class='sk-ww-linkedin-profile-post' data-embed-id='25449658'></div><script src='https://widgets.sociablekit.com/linkedin-profile-posts/widget.js' async defer></script>
</div>

</div>

</div>


