{{ $page := .root }}
{{ $section := .page }}

<div class="universal-wrapper pt-4">
  <h2>{{$section.Title}}</h2>
</div>
<section id="profile-page" class="pt-6">
  <div class="container">
    <p>{{$section.Content}}</p>
      <div class="twitter">
    <a class="twitter-timeline" data-height="1000" data-width="150" href="https://twitter.com/dhia_rzig?ref_src=twsrc%5Etfw">Tweets by dhia_rzig</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
     </div>
     <div class="container wrapper">
      </div>
</section>

